.wrapper {
  border: 1px solid black;
  padding: 1px;
  width: 80%;
  text-align: center;
}

.header {
  height: 100px;
}

#main-content {
  height: 560px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: darkgray;
}

.OPT {
  width: 100%;
  height: 30px;
}

.opt {
  float: right;
  width: 70px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.opt-name {
  float: right;
  width: 200px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.side-bar {
  height: 100%;
  padding: 20px;
  display: block;
  overflow-x: auto;
}

.sidebar {
  padding: 10px;
}

a {
  text-decoration: none;
  height: 20px;
  display: block;
  padding: 5px;
}

#sidenav a {
  display: block;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
}

.col-2 {
  width: 16.67%;
}

.col-10 {
  width: 83.33%;
}

table {
  width: 100%;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
