.edit-infor-manager {
    min-height: 500px;
    width: 750px;
    display: block;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.edit-infor-manager-input {
    margin: 20px;
    height: 30px;
}

.back-button {
    height: 30px;
    width: 70px;
    border-radius: 10px;
}
.back-button:hover {
    background-color: gainsboro;
}
.btn-back {
    float: left;
}
.save-infor {
    height: 30px;
    width: 100px;
    border-radius: 10px;
}
.save-infor:hover  {
    background-color: #008fff;
}

label {
    float: left;
    text-align: left;
    min-width: 200px;
}
input {
    float: right;
    min-width: 500px;
}
