.view-room {
    width: 100%;
    /* padding-left: 20px;
    margin: 20px; */
    padding: 10px;
    height: 500px;
    overflow-y: auto;
    text-align: center;
}
table {
    max-height: 500px;
    overflow-y: auto;
}
table, tr ,td {
    height: 100px;
    overflow-y: auto !important;
}
